package org.csystem.app;

class App {
    public static void main(String[] args)
    {
        java.util.Scanner kb = new java.util.Scanner(System.in);

        Point p1 = new Point();
        Point p2 = new Point();

        System.out.print("First Point x:");
        p1.x = Integer.parseInt(kb.nextLine());
        System.out.print("First Point y:");
        p1.y = Integer.parseInt(kb.nextLine());

        System.out.print("Second Point x:");
        p2.x = Integer.parseInt(kb.nextLine());
        System.out.print("Second Point y:");
        p2.y = Integer.parseInt(kb.nextLine());

        p1.display();
        p2.display();
        System.out.println(p1.isEqual(p2));

    }
}
class Point {
    public int x, y;
    public void display()
    {
        System.out.printf("Point(%d, %d)%n", x, y);
    }
    public boolean isEqual(Point p1)
    {
        if (p1.x == x && p1.y == y)
            return true;
        else
            return false;
    }
}


